
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F9573F;
}
.container .wrap img{
    width: 100%;
    height: auto;
}
.rulePop{
  font-size: 0.28rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  color: #916414;
}
