
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F9573F;
}
.container .wrap img{
    width: 100%;
    height: auto;
}
.rulePop{
  font-size: 0.28rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  color: #916414;
}
#content{
  width: 6.1rem;
  height: auto;
  margin: 0 auto;
}
#content .topImg, #content .topImg img{
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.btmImg{
  width: 100%;
  height: auto;
  margin-top: .4rem;
}
